<h1 class="text-center my-2">Posts</h1>

<div class="container text-center">
<%= search_form_for @q do |f| %>
  <div class="form-group">

    <%= f.text_field :description_cont, :placeholder => "Search" %>
     <%# <%= f.label :Search%>
  </div>
<% end %>
</div>
<div class="">
    <div class="position-absolute bottom-0 start-0">
     <a href="/create_posts" class="btn btn-dark btn-lg ms-2" role="button">
  Create Post
     </a>
   </div>
</div>

<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="offset-md-4 col-md-4 my-3">
        <div class="card">
          <img src="<%= post.photo %>" class="img-responsive">
          <div class="card-body">
            <p class="card-text text-truncate">
              <%= post.description %></p>
            </p>

          </div>
          <div class="card-body">
            <a href="/posts/<%= post.id %>" class="card-link">See details</a>
          </div>
          <div class="card-footer text-muted">
            <%= time_ago_in_words(post.created_at) %> ago
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



<%= paginate @posts, theme: 'bootstrap-5', pagination_class: "mx-auto", nav_class: "d-flex" %>


<!--<%= link_to 'My Conversations', conversations_path %>-->
