<div class="container mt-5">
  <div class="text-center">
    <% if @over_ten %>
      <%= link_to 'Show Previous', '?m=all' %>
    <% end %>
    <div>

      <% @messages.each do |message| %>
        <% if message.body %>
          <% user = User.find(message.user_id) %>
          <% recipient = User.find(@conversation.recipient_id) %>
             <% if message == @messages.first %>
            <h2>Message with <%= recipient.first_name %></h2>
             <% end %>
              <div class="header"><strong><%= user.first_name %></strong> <%= message.message_time %></div>
              <div class="list">

                  <%= message.body %>


        <% end %>
      <% end %>

    </div>

 <% recipient = User.find(@conversation.recipient_id) %>
  <% if @messages.blank? %>
      <h2>New Message with <%= recipient.first_name %></h2>
  <% end %>
    <%= form_for [@conversation, @message] do |f| %>
      <div class="field">
        <%= f.text_area :body %>
      </div>
      <%= f.text_field :user_id, value: @current_user.id, type: "hidden" %>
      <div>
        <%= f.submit "Send", class: "btn btn-dark mt-3" %>
      </div>
    <% end %>

  </div>
</div>
