<div>
  <div>
    <h1>
      Post #<%= @the_post.id %> details
    </h1>

    <div>
      <div>
        <a href="/dashboard">
          Go back
        </a>
      </div>

     <%if @current_user.id == @the_post.user_id%>
      <div>
        <a href="/delete_post/<%= @the_post.id %>">
          Delete post
        </a>
      </div>
      <%end%>
    </div>

    <dl>
      <dt>
        <img src="<%= @the_post.photo %>">
      </dt>
      <dt>
        Description
      </dt>
      <dd>
        <%= @the_post.description %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
       name goes here
      </dd>
       <dt>
        Message
      </dt>
      <dd>
        <%users = User.all%>
       <% users.each do |user| %>
    <% if user.id != @current_user.id %>
      <div class="item">
        <%= user.first_name %> <%= link_to 'Message me!', conversations_path(sender_id: @current_user.id, recipient_id: user.id), method: 'post' %>
      </div>
    <% end %>
    <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_post.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_post.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<%if @current_user.id == @the_post.user_id%>
<div>
  <div>
    <h2>
      Edit post
    </h2>

    <form action="/modify_post/<%= @the_post.id %>"  method="post" >
      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_post.description %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_post.user_id %>">
      </div>

      <button>
        Update post
      </button>
    </form>
  </div>
</div>
<%end%>
<hr>
